src/main/java/ru/siblion/service/soap/LogSearchWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.siblion.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.siblion.ru/" name="LogSearchWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.siblion.ru/" schemaLocation="http://192.168.0.173:7001/LogSearchWS/LogSearchWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="logSearchAsync">
<part name="parameters" element="tns:logSearchAsync"/>
</message>
<message name="logSearchAsyncResponse">
<part name="parameters" element="tns:logSearchAsyncResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="TransformerException">
<part name="fault" element="tns:TransformerException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="SAXException">
<part name="fault" element="tns:SAXException"/>
</message>
<message name="ConfigurationException">
<part name="fault" element="tns:ConfigurationException"/>
</message>
<message name="logSearchSync">
<part name="parameters" element="tns:logSearchSync"/>
</message>
<message name="logSearchSyncResponse">
<part name="parameters" element="tns:logSearchSyncResponse"/>
</message>
<portType name="LogSearchWS">
<operation name="logSearchAsync">
<input wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsyncRequest" message="tns:logSearchAsync"/>
<output wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsyncResponse" message="tns:logSearchAsyncResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsync/Fault/ParseException"/>
<fault message="tns:TransformerException" name="TransformerException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsync/Fault/TransformerException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsync/Fault/IOException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsync/Fault/JAXBException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsync/Fault/SQLException"/>
<fault message="tns:SAXException" name="SAXException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsync/Fault/SAXException"/>
<fault message="tns:ConfigurationException" name="ConfigurationException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchAsync/Fault/ConfigurationException"/>
</operation>
<operation name="logSearchSync">
<input wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchSyncRequest" message="tns:logSearchSync"/>
<output wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchSyncResponse" message="tns:logSearchSyncResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchSync/Fault/IOException"/>
<fault message="tns:ConfigurationException" name="ConfigurationException" wsam:Action="http://controller.siblion.ru/LogSearchWS/logSearchSync/Fault/ConfigurationException"/>
</operation>
</portType>
<binding name="LogSearchWSPortBinding" type="tns:LogSearchWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logSearchAsync">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="TransformerException">
<soap:fault name="TransformerException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="SAXException">
<soap:fault name="SAXException" use="literal"/>
</fault>
<fault name="ConfigurationException">
<soap:fault name="ConfigurationException" use="literal"/>
</fault>
</operation>
<operation name="logSearchSync">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ConfigurationException">
<soap:fault name="ConfigurationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LogSearchWSService">
<port name="LogSearchWSPort" binding="tns:LogSearchWSPortBinding">
<soap:address location="http://192.168.0.173:7001/LogSearchWS/LogSearchWSService"/>
</port>
</service>
</definitions>